
.tasksList {
    padding: 0;
}

.tasks {
    list-style-type: none;
}

.finishedTask {
    text-decoration:  line-through;
    opacity: 0.5;
}

.taskDeleteButton {
    margin: 0 5px;
}

.error {
    border: red 1px solid;
}
.errorMessage {
    color: red;
}

.activeFilter {
    background-color: aquamarine;
}