.todoTitle {
    display: inline-block;
    margin-right: 10px;
}
.tasksList {
    padding: 0;
}

.tasks {
    list-style-type: none;
}

.finishedTask {
    list-style-type: none;
    text-decoration:  line-through;
    opacity: 0.5;
}

.taskDeleteButton {
    margin: 0 5px;
}



.activeFilter {
    background-color: aquamarine;
}